<p class="mt-5"><span class="font-bold">Bienvenue dans votre nouveau terrain de jeu de développeur / développeuse ! </span>Rejoignez notre réseau social pour :</p>
<mat-list role="list">
  <mat-list-item role="listitem"><span class="font-bold">Découvrir </span> les dernières tendances et technologies</mat-list-item>
  <mat-list-item role="listitem"><span class="font-bold">Échanger </span> avec des experts et des pairs</mat-list-item>
  <mat-list-item role="listitem"><span class="font-bold">Collaborer </span> sur des projets open-source</mat-list-item>
  <mat-list-item role="listitem"><span class="font-bold">Trouver </span> un mentor ou devenir vous-même un mentor</mat-list-item>
</mat-list>
<p>Codez votre réseau ! Développez vos compétences et vos relations au sein de notre communauté de développeurs. Ensemble, nous construirons l'avenir du web.</p>
