<mat-sidenav-container>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'"
               [opened]="isSidenavOpened"
               autoFocus="false"
               [class.pr-4]="!isMobile"
  (closedStart)="isSidenavOpened = false">
    <mat-nav-list class="h-full !flex flex-col border-r rounded-2xl">
      @for (item of navItems; track item) {
        <mat-list-item [routerLink]="item.route" [activated]="isActivatedRoute(item.route)" [class.mt-auto]="item.icon === 'logout'">
          <span matListItemIcon>
            <mat-icon>{{ item.icon }}</mat-icon>
          </span>
          <span matListItemLine>{{ item.label }}</span>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="flex justify-start items-center">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
      <h1 class="text-2xl">{{ currentPage }}</h1>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
