<h2 mat-dialog-title>Renvoi de mot de passe</h2>
<form [formGroup]="emailForm">
  <mat-dialog-content>
    <p>Veuillez renseigner votre email pour réinitialiser votre mot de passe.</p>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" class="w-full">
      @if (emailForm.controls['email'].errors?.['required']) {
        <mat-error>*Le mot de passe est requis</mat-error>
      }
      @if (emailForm.controls['email'].errors?.['pattern']) {
        <mat-error>*L'email est invalide</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-end gap-3">
    <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Annuler</button>
    <button mat-raised-button color="primary" [disabled]="emailForm.invalid" [mat-dialog-close]="emailForm.get('email')?.value">Ok</button>
  </mat-dialog-actions>
</form>
