<form [formGroup]="postForm" class="w-full mt-5">
  <div class="flex items-baseline w-full">
    <mat-form-field appearance="fill" class="w-2/3">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title">
      <mat-hint>Ex: Angular 19</mat-hint>
      @if (postForm.controls['title'].errors?.['required']) {
        <mat-error>*Un titre est requis</mat-error>
      }
    </mat-form-field>
    <div class="w-1/3 flex justify-around">
      <button mat-raised-button type="reset" color="primary" (click)="cancel()">Annuler</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="postForm.invalid" (click)="publish()">Publier</button>
    </div>
  </div>

  <p-editor [style]="{height: '500px'}" formControlName="content" [styleClass]="'mt-5'">
    <ng-template #header>
      <span class="ql-formats">
        <select class="ql-size">
          <option value="small"></option>
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
        <select class="ql-font"></select>
      </span>

      <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold"></button>
        <button class="ql-italic" aria-label="Italic"></button>
        <button class="ql-underline" aria-label="Underline"></button>
        <button class="ql-strike" aria-label="Strikethrough"></button>
      </span>

      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>

      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align"></select>
      </span>

      <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>

      <span class="ql-formats">
        <button class="ql-code-block" aria-label="Code Block"></button>
        <button class="ql-clean" aria-label="Clean Formatting"></button>
      </span>
    </ng-template>
  </p-editor>

</form>
